In [3]:
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [5]:
# files to load
city_data_to_load = 'Resources/city_data.csv'
ride_data_to_load = 'Resources/ride_data.csv'

In [7]:
# read the city and rider data files and store them as DataFrames
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

## Explore the Data in Pandas

#### Inspect the City DataFrame

In [19]:
# get the data types of each column
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [20]:
# get the unique values of the type of city
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [21]:
# get the number of data points from Urban cities
sum(city_data_df['type']=='Urban')

66

#### Inspect the Ride Data DataFrame

In [22]:
# get the columns and rows that are not null
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [23]:
# get the datatypes of each column
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [24]:
# review the columns for each DataFrame
city_data_df.columns, ride_data_df.columns

(Index(['city', 'driver_count', 'type'], dtype='object'),
 Index(['city', 'date', 'fare', 'ride_id'], dtype='object'))

In [25]:
# combine both DataFrames
pyber_data_df = pd.merge(
    ride_data_df, 
    city_data_df, 
    how='left', 
    on=['city', 'city']
)

pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban